html {
    background-color: #eee
}

body {
    font-family: monospace;
    color: #555;
    font-size: 18px;
    margin: 0 auto;
    max-width: 60em;
    padding: 3em 2em;
    line-height: 1.25;
    word-wrap: break-word;
    text-align: left
}

a {
    color: #aaf
}

a:visited {
    color: #77f
}

h1 {
    line-height: 3;
    font-size: 30px
}

.clue {
    color: #bbb
}































































































































































































































/* 5a45645655574a69633141766257396a4c6d3570596d563063324677 */